.containerFilterAppointment {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.containerInputsAppointment {
    display: flex;
    justify-content: left;
    align-items: center;
    height:65px;
    gap: 10px;
    
}

.containerDropAppointment {
    width: 30%;
    height: 65px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}


.statusActive {
    background-color: #447DBF;
    color: white;
    border-radius: 8px;
    margin: 0;
}

.statusInactive {
    background-color: rgb(172, 68, 68);
    color: white;
    border-radius: 8px;
    margin: 0;
}


